
/* for setting max container width */
/*@media (min-width: 961px) {
    .container{
        width:960px;
    }
}*/

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



div.transbox
{
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    background-color: #ffffff;
    /*border: 1px solid black;*/
    opacity:0.7;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox h3
{
    margin-top: 12px;
    padding-bottom: 6px;
    border-bottom: 2px solid #B2B2B2;
    font-family: Arial;
    font-weight: bold;
}
div.transbox p
{
    color: #000000;
    font-family: Arial;
    font-size:12pt;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 2px;
}
div.transbox p.middle
{
    border-bottom: 2px solid #E6E6E6;
}
div.transbox ul
{
    padding-bottom: 5px;
}
div.transbox li
{
    font-family: Arial;
    font-size: 12pt;
}


div.nontransbox
{
    background-color: #E8E8E8;
    padding-bottom:20px;
    font-family: Arial;
}
div.nontransbox h1
{
    padding-top:10px;
    border-bottom: 1px solid #A0A0A0 ;
    font-weight: bold;
    color: #404040 ;
}
div.nontransbox p
{
    color: #484848;
    font-size:12pt;
    padding-top: 0px;
    padding-bottom: 5px;
}
div.nontransbox strong
{
    color: #484848;
    font-size:12pt;
    padding-top: 0px;
    padding-bottom: 5px;
}
div.nontransbox address
{
    color: #686868;
    font-size:12pt;
    padding-top: 0px;
    padding-bottom: 5px;
}






body{
	/*background-color: #272B30;*/
  background-image: url('/static/images/background/dark-wood.jpg');
  /*padding-top:0px;*/
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}




/* navbar */
.navbar{
	/*background-color: #AD1D28;*/
  	/*border-color: #911821;*/
  	border: none;
}

p{
	color: #C8C8C8;
}

#test{
	color: orange;
}



.nav-link-text{color:#E18A07;}



.header-address-text{
    color:#E18A07;
}


.nav-link{
    color:#E18A07;
    font-weight:800;
    display:inline;
}
.nav-link-spacer{
    padding-left:10px;
    padding-right:10px;
    color:#E18A07;
    font-weight:800;
    display:inline;
}



/*******************
** Navbar links
*******************/

/* non-active link */
.navbar-default .navbar-nav > li > a {
    color: #198c19;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f36700;
}

/* active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f36700;
}
/*.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}*/





.jumbotron {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background-color: inherit;
}




@font-face {
    font-family: Test;
    
    /*src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);*/
    src: url(/static/fonts/AlexBrush-Regular.ttf);
    
    font-weight:400;
}


/*Fixes carousel banner left alignment issue*/
.carousel-inner > .item > img { margin: 0 auto; }