{% extends "template.html" %}


{% block top_content %}

    <!--<div id="carousel-example-generic" class="carousel slide" style="margin-bottom:0px;width:960px" data-ride="carousel">-->
    <div id="carousel-example-generic" class="carousel slide" style="margin-bottom:0px" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <!--<div class="carousel-inner"  style="width:960px">-->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../static/images/banners/temp_prawns.jpeg" alt="">
                <div class="carousel-caption"></div>
            </div>

            <!--<div class="item active">-->
                <!--<img src="../static/images/banners/shop2.jpg" alt="">-->
                <!--<div class="carousel-caption"></div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="../static/images/banners/menu.png" alt="">-->
                <!--<div class="carousel-caption"></div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="../static/images/banners/shop_day.jpg" alt="">-->
                <!--<div class="carousel-caption"></div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="../static/images/banners/shop3.jpg" alt="">-->
                <!--<div class="carousel-caption"></div>-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="../static/images/banners/temp_pan.jpeg" alt="">-->
                <!--<div class="carousel-caption"></div>-->
            <!--</div>-->
        </div>

        <!-- Slide controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

{% endblock %}


{% block content %}

    <!-- Desktop view -->
    <div class="row hidden-xs" style="margin-top:20px;margin-bottom:20px;">
        <div class="col-sm-4">
            <div class="transbox" style="min-height:250px;">
                <h3>Set Meals</h3>
                <p>See our menu for our delicious selection of set menu options.</p>
                <p>There are over 15 main course dishes to choose from with set meal options for between 1 and 4 people.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="transbox" style="min-height:250px;">
                <h3>Special Deals</h3>
                <p class="middle">Free Prawn Crackers for Orders Over £15</p>
                <p class="middle">Free Vegetarian Spring Rolls and Prawn Crackers for Orders Over £20</p>
                <p>BBQ Spare Ribs OR Chicken Wings with Chilli Salt and Prawn Crackers for Orders Over £30</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="transbox" style="min-height:250px;">
                <h3>Place an Order</h3>
                <p style="padding-bottom:0px;">Call us on:<br>
                    <span style="font-weight:800">0131 228 8818</span><br>
                    <span style="font-weight:800">0131 229 5414</span>
                </p>
                <p>Find us at:<br>
                 5 Dundee Terrace<br>
                 Edinburgh<br>
                 EH11 1DL</p>
            </div>
        </div>
    </div>
    <!-- Mobile view -->
    <div class="row visible-xs" style="margin-top:20px;margin-bottom:20px;">
        <div class="col-sm-4">
            <div class="transbox">
                <h3>Set Meals</h3>
                <p>See our menu for our delicious selection of set menu options.</p>
                <p>There are over 15 main course dishes to choose from with set meal options for between 1 and 4 people.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="transbox">
                <h3>Special Deals</h3>
                <p class="middle">Free Prawn Crackers for Orders Over £15</p>
                <p class="middle">Free Vegetarian Spring Rolls and Prawn Crackers for Orders Over £20</p>
                <p>BBQ Spare Ribs OR Chicken Wings with Chilli Salt and Prawn Crackers for Orders Over £30</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="transbox" style="min-height:250px;">
                <h3>Place an Order</h3>
                <p style="padding-bottom:0px;">Call us on:<br>
                    <span style="font-weight:800">0131 228 8818</span><br>
                    <span style="font-weight:800">0131 229 5414</span>
                </p>
                <p>Find us at:<br>
                 5 Dundee Terrace<br>
                 Edinburgh<br>
                 EH11 1DL</p>
            </div>
        </div>
    </div>

{% endblock %}