
div.menuSectionContainer
{
    margin-bottom: 20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 7px;
    background: #f1f1f1;
}
div.menuSectionContainerVeg
{
    background: #ccffcc;
}
div.menuSectionDescr
{
    padding-top: 5px;
    padding-bottom: 1px;
    font-style: italic;
    font-size: 10pt;

}


/*p.menuHdr
{
    padding-bottom:0px;margin-bottom:0px;color:#F36700;font-weight:800;    #FFA500
}*/
div.menuHdr
{
    /*margin-bottom: 5px;*/
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #FFA500;
    font-family: Verdana;
    font-size: 11pt;
    color: black;
    font-weight: 800;
    border: 1px solid #ffb732;
    letter-spacing: 1px;
}
div.menuHdrVeg
{
    background: #00cc00;
    border: 1px solid #00e600;
}


div.menuSetMenuSectionHdrPrice
{
    padding-left: 0px;
    font-size: 11pt;
    color:#000000;
    font-weight: 800;
}
div.menuSetMenuSectionSmlHdr
{
    padding-left: 0px;
    font-size: 10pt;
    color:#000000;
    font-weight: 800;
}


div.menuSetMenuSectionHdr
{
    padding-left: 0px;
    padding-top: 10px;
    font-size: 12pt;
    color:#F36700;
    font-weight: 800;
}


div.menuItemContainer
{
    background:inherit;
    margin-bottom:3px;
    padding-top:5px;
}

div.menuItemNum
{
    display:inline;
    margin-right:0px;
    font-size:inherit;
    /*font-weight:800;*/
    color:#F36700;
}
div.menuItemNumVeg
{
    color: green;
}


div.menuItemSingle
{
    background:inherit;
}
div.menuItemLeft
{
    float:left;
    background:inherit;
}
div.menuSubItemLeft
{
    padding-left:30px;
}
div.menuItemSmallItalicsInline
{
    display:inline;
    font-style:italic;
    font-size:9pt;
}
div.menuItemCenter
{
    background-image:url(/static/images/pixels/menuItemUnderline.png);
    background-repeat:repeat-x;
    background-position:50% 100%;
}
div.menuItemRight
{
    float:right;
    background:inherit;
}
div.menuDescr
{
    font-style:italic;
    font-size:9pt;
    padding-left:30px;
}
div.menuItemVegitarian
{
    display:inline;
    padding-left:2px;
    font-size:inherit;
    font-weight:800;
    color:green;
}
div.menuItemNuts
{
    display:inline;
    padding-left:2px;
    font-size:inherit;
    font-weight:800;
    color:#F36700;
}
div.menuItemTextOr
{
    display:inline;
    padding-left:2px;
    font-size:inherit;
    color:#F36700;
}

div.menuItemChilli
{
    display:inline;
    margin-right:5px;
    background:inherit;
}
div.menuItemChilliMulti
{
    display:inline;
    background:inherit;
}

div.menuImgContainer
{
    width: 280px;
    margin-bottom: 20px;
    text-align: center;
}
div.menuImgDescr
{
    padding-top: 2px;
    font-size: 10pt;
    font-family: Verdana;
    color: #545454;
}






div.linksHdr
{
    padding-left: 2px;
    padding-top: 3px;
    font-family: Verdana;
    font-size: 11pt;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
}
div.linksContainer
{
    margin-bottom: 15px;
    color: #e69500;
}
div.linksContainer a
{
    color: inherit;
}
div.linksContainer span
{
    padding-left: 4px;
    padding-right: 2px;
    color: inherit;
}



div.foodTypeHdr
{
    margin-top: 28px;
    padding-left: 2px;
    padding-bottom: 0px;
    font-family: Arial;
    font-size: 13pt;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
}
hr.menu {
    margin-top: 0px;
    margin-bottom: 10px;
    height: 1px;
    /*background: #FFA500;*/
    background: #CCC;
    font-size: 0;
    border: 0;
}